@import url("https://fonts.googleapis.com/css?family=Roboto");

.body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: auto;
  width: 100%;
}

.header {
  height: 316px;
  background-image: url("../images/room.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #9bdcfc;
}

.header > nav {
  display: flex;
}

.header > nav > ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 47px 0 0 40px;
  align-items: center;
}

.header > nav > ul > li {
  padding: 0px 20px 0px 20px;
}

.header > nav > ul > li > a {
  text-decoration: none;
  color: #000;
}

.header__logotype {
  background-image: url("../images/logotype.png");
  background-repeat: no-repeat;
  height: 40px;
  margin-left: 30px;
  margin-top: 35px;
  width: 137px;
}

.main__search-btn {
  background: url("../images/btn-search.png");
  border: 0;
  cursor: pointer;
  height: 40px;
  width: 101px;
}

.main__search > h1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 6px 1px 2px #55d6f9, 0 0 1em #55d6f9, 0 0 0.2em #4d97a6;
}

.main__search > .main__container > label > input {
  width: 252px;
  height: 27px;
  font-size: 1em;
  padding: 0.3em;
  margin-right: 10px;
}

.main__search .main__container {
  display: flex;
  justify-content: center;
}

.section {
  height: 159px;
  background-color: #cc3333;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section h2,
h3 {
  color: #fff;
  font-family: "Roboto-light", sans-serif;
  font-size: 1em;
  margin: 0;
  text-align: center;
}

.section__signin-btn {
  background: url("../images/btn-signin.png");
  border: 0;
  cursor: pointer;
  margin-top: 10px;
  height: 43px;
  width: 106px;
}

.footer {
  background-color: #fad874;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.footer > nav > ul {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.footer > nav > ul > li {
  height: 204px;
  list-style-type: none;
  width: 480px;
}

.footer > nav > ul > li > a {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  text-decoration: none;
}

.footer__travelling,
.footer__hosting,
.footer__tellstory {
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px 1px #000, 0 0 0.2em #000, 0 0 0.4em #fff;
}

.footer__travelling {
  background: url("../images/travelling.jpg");
}

.footer__hosting {
  background: url("../images/hosting.jpg");
}

.footer__tellstory {
  background: url("../images/tellStory.jpg");
}

.footer aside {
  display: flex;
  height: 30px;
  justify-content: center;
  margin-top: 20px;
}
